@import '@/App.scss';

.heading {
  color: $c-timeline-color;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;

  &.leftAlign {
    justify-content: flex-start;

    p {
      width: 40%;
      text-align: justify;
    }
  }

  &.rightAlign {
    justify-content: flex-end;

    p {
      width: 40%;
      text-align: justify;
    }
  }

  .imgS {
    width: 300px;
  }

  .imgM {
    width: 500px;
  }
}

.sectionColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  max-width: 50%;

  p {
    text-align: justify;
  }
}

.sectionColumn2 {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .headerText {
    justify-self: center;
    font-family: 'InriaSerif-Bold';
    font-size: 1.5em;
    margin: 0;
  }

  .text {
    text-align: justify;
  }
}

.sectionColumnImg {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5%;
  width: 100%;

  img {
    width: 200px;
  }
}

.highlight {
  justify-self: center;
  padding: 100px 300px;
  font-family: 'InriaSerif-Bold';
  font-size: 1.5em;
}

.quoteContainer {
  height: 1000px;

  div {
    position: sticky;
    top: 30vh;
  }
}

.spacer {
  display: block;
  height: 400px;
}

.buttonWrapper {
  display: flex;
  justify-content: center;
}
