@import '@/App.scss';

.heading {
  color: $context-timeline-color;
}

.splitScreenWrapper {
  display: grid;
  grid-template-columns: 48% 2% 48%;
  width: 100%;
}

.leftSide,
.rightSide {
  width: 100%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5%;
}

.sticky {
  width: 100%;
  position: sticky;
  align-self: flex-start;
  top: 100px;
  background-color: red;
}

.dashed {
  border-right: 3px dashed #bbb;
  color: transparent;
}

.img {
  width: 100%;
}
