@import '@/App.scss';

.heading {
  color: $context-timeline-color;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.bou {
  align-items: center;
}

.chum {
  align-items: center;
}

.bild {
  width: 24vw;
  margin-top: 8px;
  border-radius: 1%;

  border: 4px solid;
}

.chumBild {
  color: $c-timeline-color;
}

.bouBild {
  color: $b-timeline-color;
}

.intro {
  display: block;
  margin-left: 15%;
  margin-right: 15%;
}

.legend {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;

  .legendHeading {
    font-size: 1.5em;
    width: 100%;
    margin: 1em 0;
  }

  .legendItem {
    display: flex;
    align-items: center;
    gap: 10px;

    .box {
      width: 15px;
      height: 15px;
    }

    .chumColor {
      background-color: $c-timeline-color;
    }

    .bouColor {
      background-color: $b-timeline-color;
    }

    .otherColor {
      background-color: $context-timeline-color;
    }
  }
}
