@import '@/App.scss';

.heading {
  color: $context-timeline-color;
}

.section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.bou {
  align-items: center;
}

.chum {
  align-items: center;
}

.bild {
  width: 32vw;
}

.intro {
  display: block;
  margin-left: 15%;
  margin-right: 15%;
}
