@import '@/App.scss';

.heading {
  color: $c-timeline-color;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
  padding: 0 7%;

  &.leftAlign {
    justify-content: flex-start;

    p {
      width: 40%;
      text-align: justify;
    }
  }

  &.rightAlign {
    justify-content: flex-end;

    p {
      width: 40%;
      text-align: justify;
    }
  }

  .imgS {
    width: 300px;
  }

  .imgM {
    width: 500px;
  }
}

.img {
  width: 40%;
  height: 40%;
}

.info {
  width: 100%;
  height: 100%;
}

.sectionColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10%;
  max-width: 50%;

  p {
    text-align: justify;
  }
}

.infobutton {
  width: 4%;
  height: 4%;
  cursor: pointer;
  background-color: inherit;
  border: none;
}
