@import '@/App.scss';

$randomNumberRight: random(3);
$randomNumberLeft: random(3) - 4;
img {
  &.rotateLeft {
    transform: rotate($randomNumberLeft + deg);
  }
  &.rotateRight {
    transform: rotate($randomNumberRight + deg);
  }
}

.heading {
  color: $b-timeline-color;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
  margin: 2.5% 0 2.5% 0;

  &.leftAlign {
    justify-content: flex-start;

    p {
      width: 40%;
      text-align: justify;
    }
  }

  &.rightAlign {
    justify-content: flex-end;

    p {
      width: 40%;
      text-align: justify;
    }
  }

  .imgL {
    width: 100%;
  }

  .imgS {
    width: 80%;
  }

  .imgM {
    max-width: 20vw;
    height: auto;
    object-fit: contain;
    border: none !important;
    filter: drop-shadow(0 -6px 0 $white) drop-shadow(0 6px 0 $white) drop-shadow(-6px 0 0 $white)
      drop-shadow(6px 0 0 $white);
  }
}

.sectionColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;

  p {
    text-align: justify;
  }
}
