@import '@/App.scss';

.heading {
  color: $b-timeline-color;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;

  &.leftAlign {
    justify-content: flex-start;

    p {
      width: 40%;
      text-align: justify;
    }
  }

  &.rightAlign {
    justify-content: flex-end;

    p {
      width: 40%;
      text-align: justify;
    }
  }

  .imgL {
    width: 100%;
  }

  .imgS {
    width: 80%;
  }
}

.sectionColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10%;

  p {
    text-align: justify;
  }
}
