@import '@/App.scss';

$randomNumberRight: random(3);
$randomNumberLeft: random(3) - 4;
img {
  &.rotateLeft {
    transform: rotate($randomNumberLeft + deg);
  }
  &.rotateRight {
    transform: rotate($randomNumberRight + deg);
  }
}

.heading {
  color: $context-timeline-color;
}

.splitScreenWrapper {
  display: grid;
  grid-template-columns: 48% 2% 48%;
  width: 100%;
}

.leftSide,
.rightSide {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.subsection {
  display: flex;
  flex-direction: row;
  gap: 5%;
  justify-content: center;
  text-align: justify;

  &.leftAlign {
    justify-content: flex-start;

    p {
      width: 70%;
      text-align: justify;
    }
  }

  &.rightAlign {
    justify-content: flex-end;

    p {
      width: 70%;
      text-align: justify;
    }
  }

  .imgL {
    width: 100%;
    max-width: 500px;
  }

  .imgS {
    width: 80%;
    max-width: 400px;
  }
}

.sticky {
  position: sticky;
  top: 20vh;
}

.dashed {
  border: none;
  width: 2px;
  background-image: linear-gradient(black 60%, rgba(255, 255, 255, 0) 0%);
  background-position: right;
  background-size: 2px 36px;
  background-repeat: repeat-y;
}

.highlight {
  display: block;
  padding: 0 20px;
  font-size: 1.5em;
  width: 100%;
}

.center {
  display: block;
  text-align: justify;
  margin: 0 auto;
}

.spacerL {
  display: block;
  height: 500px;
}

.spacerM {
  display: block;
  height: 300px;
}
