.soundButton {
  // position: fixed;
  width: 70px;
  height: 70px;
  left: 50px;
  top: 30px;
  z-index: 120;
  border-radius: 50%;
  border: 0;
  background: none;

  .icon {
    color: $context-timeline-color;
    height: 40px;
    width: 40px;
  }
}
