@import '@/App.scss';

$randomNumberRight: random(3);
$randomNumberLeft: random(3) - 4;
img {
  &.rotateLeft {
    transform: rotate($randomNumberLeft + deg);
  }
  &.rotateRight {
    transform: rotate($randomNumberRight + deg);
  }
}

.heading {
  color: $c-timeline-color;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;

  &.leftAlign {
    justify-content: flex-start;

    p {
      width: 40%;
      text-align: justify;
    }
  }

  &.rightAlign {
    justify-content: flex-end;

    p {
      width: 40%;
      text-align: justify;
    }
  }

  .imgS {
    width: 90%;
  }

  .imgM {
    width: 100%;
    min-width: 400px;
  }
}

.sectionColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10%;
  max-width: 50%;

  p {
    text-align: justify;
  }
}

.highlight {
  justify-self: center;
  padding: 0 20px;
  font-family: 'InriaSerif-Bold';
  font-size: 1.5em;
}
