.infoButton {
  cursor: pointer;
  background-color: inherit;
  border: none;
  display: inline-block;
  vertical-align: top;
  position: relative;

  .infoIcon {
    width: 1.4em;
    height: 1.4em;

    &:hover {
      color: $highlight-color;
    }
  }
}

.closeBtn {
  background-color: $white;
  color: $text-color;
  border: none;
  padding: 0;
  cursor: pointer;

  align-self: flex-end;

  .closeIcon {
    width: 2em;
    height: 2em;

    &:hover {
      color: $highlight-color;
    }
  }
}

.openModalWrapper {
  position: relative;
  display: inline-block;
}

.childrenWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bubbleWrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: -25px;
  padding-bottom: 5px;

  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: calc(20px + 1em + 8px);

  .bubble {
    border-left: 8px solid $context-timeline-color;
    position: relative;
    width: 500px;
    height: 300px;
    padding: 10px;
    background: #ffffff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: $drop-shadow-s;
    z-index: 101;
    display: flex;
    flex-direction: column;

    &:after {
      content: '';
      position: absolute;
      border-style: solid;
      border-width: 15px 15px 0;
      border-color: #ffffff transparent;
      display: block;
      width: 0;
      z-index: -1;
      bottom: -14px;
      right: 4%;
      filter: drop-shadow(2px 5px 2px rgba(0, 0, 0, 0.2));
    }
  }
}
