@import '../theme';

.sidebarRight {
  position: absolute;
  right: 0;
  top: 0;
  width: 240px;
  height: 100vh;
  background-color: $sidebar-color;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.timeline {
  font-family: $primary-fontfamily;
  color: $context-timeline-color;
  padding: 30px 10px;

  .date {
    font-size: 18px;
    line-height: 36px;
    margin: 5px;
    padding: 0;
  }

  .date:hover {
    font-size: 24px;
    color: $b-timeline-color;
  }

  .current-date {
    padding: 0;
    margin: 10px;
    font-size: 32px;
    color: $c-timeline-color;
  }

  .hidden-date {
    display: none;
  }
}
