@import '@/App.scss';

.heading {
  color: $context-timeline-color;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;

  &.leftAlign {
    justify-content: flex-start;

    p {
      width: 40%;
      text-align: justify;
    }
  }

  &.rightAlign {
    justify-content: flex-end;

    p {
      width: 40%;
      text-align: justify;
    }
  }

  .imgS {
    width: 300px;
  }

  .imgM {
    width: 500px;
  }
}

.sectionColumn2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;

  .headerText {
    justify-self: center;
    font-family: 'InriaSerif-Bold';
    font-size: 1.5em;
    margin: 0;
  }

  .text {
    text-align: justify;
  }
}
.sectionColumn1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 50%;

  .headerText {
    justify-self: center;
    font-family: 'InriaSerif-Bold';
    font-size: 1.5em;
    margin: 0;
  }

  .text {
    text-align: justify;
  }
}
