@import '@/App.scss';

.heading {
  color: $c-timeline-color;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;

  &.leftAlign {
    justify-content: flex-start;

    p {
      width: 40%;
      text-align: justify;
    }
  }

  &.rightAlign {
    justify-content: flex-end;

    p {
      width: 40%;
      text-align: justify;
    }
  }

  .imgS {
    width: 300px;
  }

  .imgM {
    width: 500px;
  }
}

.img {
  width: 400px;
}
