@import '@/App.scss';

$randomNumberRight: random(3);
$randomNumberLeft: random(3) - 3;
img {
  &.rotateLeft {
    transform: rotate($randomNumberLeft + deg);
  }
  &.rotateRight {
    transform: rotate($randomNumberRight + deg);
  }
}

.heading {
  color: $b-timeline-color;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
  margin: 2.5% 0 2.5% 0;

  &.lessGap {
    gap: 5%;

    .imgM {
      width: 33.3%;
      height: auto;
    }

    .sectionColumn {
      width: 33.3%;
    }
  }

  p {
    text-align: justify;
  }

  &.leftAlign {
    justify-content: flex-start;

    p {
      width: 40%;
      text-align: justify;
    }
  }

  &.rightAlign {
    justify-content: flex-end;

    p {
      width: 40%;
      text-align: justify;
    }
  }

  &.center {
    align-items: center;
    justify-content: center;
  }

  .imgS {
    width: 300px;
  }

  .imgM {
    width: 400px;
  }

  .imgL {
    width: 600px;
  }
}

.sectionColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5%;
  max-width: 50%;

  p {
    text-align: justify;
  }
}

.highlight {
  justify-self: center;
  padding: 0 20px;
  font-family: 'InriaSerif-Bold';
  font-size: 1.5em;
}
