$text-color: #000000;
$bg-color: #f3f3f3;
$sidebar-color: #f894a859;
$context-timeline-color: #842c21;
$b-timeline-color: #002aa2;
$c-timeline-color: #db8504;
$white: #ffffff;
$highlight-color: rgb(238, 56, 32);

$drop-shadow-s: 3px 3px 3px rgba(0, 0, 0, 0.2);
$drop-shadow-m: 5px 5px 5px rgba(0, 0, 0, 0.333);

$primary-fontfamily: InriaSerif-Regular, system-ui, Avenir, Helvetica, Arial, sans-serif;

@font-face {
  font-family: 'InriaSerif-Bold';
  font-style: normal;
  font-weight: bold;
  src: local('InriaSerif-Bold'), url(@/assets/fonts/InriaSerif-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'InriaSerif-Regular';
  font-style: normal;
  src: local('InriaSerif-Regular'), url(@/assets/fonts/InriaSerif-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'InriaSerif-Italic';
  font-style: italic;
  src: local('InriaSerif-Italic'), url(@/assets/fonts/InriaSerif-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'InriaSerif-BoldItalic';
  font-style: italic;
  font-weight: bold;
  src: local('InriaSerif-BoldItalic'),
    url(@/assets/fonts/InriaSerif-BoldItalic.ttf) format('truetype');
}
