$text-color: #000000;
$bg-color: #f3f3f3;
$sidebar-color: #ff00dd;
$context-timeline-color: #842c21;
$b-timeline-color: #0400ff;
$c-timeline-color: #15ff00;

@font-face {
  font-family: 'InriaSerif-Bold';
  font-style: normal;
  font-weight: bold;
  src: local('InriaSerif-Bold'), url(@/assets/fonts/InriaSerif-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'InriaSerif-Regular';
  font-style: normal;
  src: local('InriaSerif-Regular'), url(@/assets/fonts/InriaSerif-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'InriaSerif-Italic';
  font-style: italic;
  src: local('InriaSerif-Italic'), url(@/assets/fonts/InriaSerif-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'InriaSerif-BoldItalic';
  font-style: italic;
  font-weight: bold;
  src: local('InriaSerif-BoldItalic'),
    url(@/assets/fonts/InriaSerif-BoldItalic.ttf) format('truetype');
}
