@import '@/App.scss';

.heading {
  color: $context-timeline-color;
}

.section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10%;
  padding: 0 7%;

  &.leftAlign {
    justify-content: flex-start;

    p {
      width: 40%;
      text-align: justify;
    }
  }

  &.rightAlign {
    justify-content: flex-end;

    p {
      width: 40%;
      text-align: justify;
    }
  }

  .imgXS {
    width: 350px;
  }

  .imgS {
    width: 400px;
  }

  .imgM {
    width: 600px;
  }
}

.sectionColumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .headerText {
    justify-self: center;
    font-family: 'InriaSerif-Bold';
    font-size: 1.5em;
    margin: 0;
  }
}

.textCenter {
  text-align: justify;
  align-self: center;
}

.textStart {
  text-align: justify;
  align-self: flex-start;
}

.sectionColumn2 {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .headerText {
    justify-self: center;
    font-family: 'InriaSerif-Bold';
    font-size: 1.5em;
    margin: 0;
  }
}

.highlight {
  justify-self: center;
  padding: 100px 300px;
  font-family: 'InriaSerif-Bold';
  font-size: 1.5em;
}

.spacer {
  display: block;
  height: 100px;
}

.bold {
  font-family: 'Montserrat-Bold';
}
